# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*
*.log

# =========================
# HuggingFace cache
# =========================
.cache/
huggingface/
hf_cache/
.huggingface/

# =========================
# Environment
# =========================
venv/
.venv/
.env

# =========================
# MLflow
# =========================
mlruns/
mlflow.db
temp_training_output/

# =========================
# Datasets
# =========================
datasets/*
!datasets/.gitkeep

# =========================
# Model artifacts
# =========================
model/trocr_finetuned_captcha_model/*
!model/trocr_finetuned_captcha_model/.gitkeep
cache/

# =========================
# Outputs
# =========================
outputs/

# =========================
# Docker
# =========================
*.tar
docker-data/
prometheus_data/
grafana_data/

# =========================
# Pytest
# =========================
.pytest_cache/
coverage.xml
htmlcov/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# VSCode
# =========================
.vscode/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Monitoring
# =========================
*.prom
