# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*
*.log

# =========================
# HuggingFace cache
# =========================
.cache/
huggingface/
hf_cache/
.huggingface/

# =========================
# Environment
# =========================
venv/
.venv/
.env
.env.*

# =========================
# MLflow
# =========================
mlruns/
mlflow.db
temp_training_output/

# =========================
# Datasets
# =========================
datasets/*
!datasets/.gitkeep

# =========================
# Model artifacts
# =========================
model/trocr_finetuned_captcha_model/*
!model/trocr_finetuned_captcha_model/.gitkeep
cache/

# =========================
# Outputs
# =========================
outputs/
