# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Environments
venv/
.env

# HuggingFace cache
.cache/
huggingface/
hf_cache/

# Datasets
datasets/*
!datasets/.gitkeep

# Samples
samples/*
!samples/.gitkeep

# Model artifacts
model/trocr_finetuned_captcha_model/*
!model/trocr_finetuned_captcha_model/.gitkeep

# Output
output/